.post-block{
    height: 700px;
    &:nth-child(even){
        .row{
            flex-direction: row-reverse;
        }
    }
    .project-text{
        opacity: 0;
    }
    .project-img{
        opacity: 0;
        margin: 1px;
    }
    .btn{
        opacity: 0;
    }
}