{#
|
| Lines
|-------------
#}
{% macro lines() %}
	<div class="background p-f h-100 w-100">
		<div class="row no-gutters h-100">
			{% for i in 1..3 %}
				<div class="col-lg-4">
					<div class="block-container" data-col="{{loop.index}}"></div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endmacro %}

