{#
|
| Footer
|---------
#}

<div class="footer-page">
    <section class="footer mt-xl pb-xl">
        <div class="row no-gutters">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="fs-md">Footer and websote by me</div>
                <div class="fw-sm">Copyright © Romain Metayer</div>
            </div>
        </div>
    </section>
</div>