{#
|
| Header
|---------
#}
<header style="z-index: 2;" class="header py-sm w-100 p-f fs-sm">
    <div class="btn-menu font-default link">Menu</div>

    <section class="menu">
        {# {{ global.lines() }} #}
        <div class="row no-gutters">
            <div class="col-lg-4 menu-col">
                <div class="content-menu my-auto">
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>item 3</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 menu-col">
                <div class="content-menu my-auto">
                    foa^fe 
                </div>
            </div>
            <div class="col-lg-4 menu-col" data-col="3">
                <div class="content-menu my-auto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam laboriosam modi libero nam eligendi ea, ex officia exercitationem voluptates? Perferendis, fugit tempore! Repellendus necessitatibus corrupti optio soluta quae eos ullam?
                </div>
        </div>
    </section>

</header>