//=== HELPERS ===//
.background{
    background-image: linear-gradient(to right bottom, #1c1c1c, #171717, #111111, #090909, #000000);
}

.font-default{
    font-family: $font-family-default;
}
.fw-sm{
    font-weight: 100;
}
.fw-md{
    font-weight: 500;
}
.row-reverse{
    flex-direction: row-reverse; 
}
.md-down-d-none{
    @include media-breakpoint-down(md) { 
        display: none;
     }
}


//=== ALL SITE ===//

.cursor, .second-cursor {
    opacity: 1;
    pointer-events: none;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 9;
    width: 50px;
    height: 50px;
    .cursor-inner {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background: $white;
        transform: translate(-50%, -50%);
    }
}
.second-cursor{
    width: 25px;
    height: 25px;
    .cursor-inner{
        transform: translate(-50%, -50%);
    }
}

.btn-menu{
    z-index: 999;
    position: absolute;
    right: 0;
    top: 100px;
    transform: rotate(90deg);
}

.linked{
    height: 30px;
    width: 30px;
}

.block-container{
    height: 100%;
    z-index: 20;
    &:before{
        content: "";
        width: 1px;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: $white;
        z-index: 20;
    }
}
.split{
    opacity: 0;
}
[data-col="3"]{
    &:before{
        width: 0 !important;
    }
}
.title{
    a{
        transition: .3s all;
        &:hover{
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
        }
    }
}